.carousel-item{
    height: 20rem;
}

.carousel-item img{
    height: 28rem;
    object-fit: cover;
    filter: brightness(50%);
}

@media screen and (max-width: 900px) {
    .carousel-item, .carousel-item img{
        height: auto;
    }
}